<app-header></app-header>
<div role="tabpanel" class="tab-pane col-md-12" id="registro" *ngIf="router.url === '/registro'">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <a routerLink="cond">
        <div class="btn-usertype">
          <img src="assets/img/icon-condomino.png" alt="" />
          <span>¿Eres Condómino?</span>
        </div><!-- .btn-usertype -->
      </a>
    </div><!-- .col-xs-12 -->
    <div class="col-md-6 col-sm-6 col-xs-12">
      <a routerLink="admin">
        <div class="btn-usertype">
          <img src="assets/img/icon-administrador.png" alt="" />
          <span>¿Eres administrador?</span>
        </div><!-- .btn-usertype -->
      </a>
    </div><!-- .col-xs-12 -->
  </div><!-- .row -->
</div><!-- .col-md-12 -->
<router-outlet></router-outlet>
<app-contacto></app-contacto>
