<app-header></app-header>
<div role="tabpanel" class="tab-pane col-md-12" id="login">
  <form (ngSubmit)="onSubmit()" class="form-row" #f="ngForm">
    <div class="form-row col-md-12">
      <div class="form-group col-md-6  offset-md-3">
        <div class="input-group input-login">
          <span class="input-group-addon"><span class="glyphicon icon-user"></span></span>
          <input class="form-control form-login" size="16" type="text" placeholder="USUARIO" ngModel name="user" required #user="ngModel">
          <span class="help-block" *ngIf="!user.valid && user.touched">Por favor ingresa un usuario válido</span>
        </div><!-- .input-login -->
        <div class="input-group input-login">
          <span class="input-group-addon"><span class="glyphicon icon-lock"></span></span>
          <input class="form-control form-login" size="16" type="password" placeholder="CONTRASEÑA" ngModel name="password" required #password="ngModel">
          <span class="help-block" *ngIf="!password.valid && password.touched">Por favor ingresa una contraseña válida</span>
        </div><!-- .input-login -->
      </div><!-- .form-group -->
      <div class="form-group col-md-6 offset-md-3">
        <div class="btn-send">
          <button class="form-control btn btn-primary btn-filtro" type="submit" id="enviar" [disabled]="!f.valid">INGRESAR</button>
        </div><!-- .btn-send -->
      </div><!-- .form-group -->
      <div class="form-group col-md-6 offset-md-3">
        <a class="form-link" routerLink="/password-recovery">¿Olvidaste tu contraseña?</a><br>
        <a class="form-link" routerLink="/registro">No tienes cuenta, registrate aquí</a>
      </div>
    </div><!-- .form-row -->
  </form>
</div><!-- .tab-pane -->
<app-contacto></app-contacto>

