<!--The content below is only a placeholder and can be replaced.-->
  <div class="row content-form">
    <div class="col-md-6 col-sm-6 col-xs-12 bloq-login" >
      <div class="navbar navbar-light bg-faded TagsOptionPrinc">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a class="nav-link active" href="">Registrate</a></li>
          <li><a class="nav-link" href="index.php">Iniciar<br>Sesion</a></li>
        </ul>  
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 bloq-info">
      <div class="content-inf">
        <img src="assets/img/logo.png" alt="Vivook">
      </div>
      <div class="row tab-content">
        <div class="tab-pane active" id="login">
          <p class="text-recup-pass">
            <strong>¿No recuerdas tu contraseña?</strong><br><br>
            Ingresa tu dirección de correo electrónico que utilizas en Vivook y te enviaremos un correo con las instrucciones para restablecerla.
          </p>
          <section class=" col-md-6 offset-md-3">
            <form class="form-row" name="form1" method="post" action="">
              <div class="form-row form-register">
                <div class="form-group col-md-12">
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingresa tu correo Electronico" required="required">
                </div>
                <div class="form-link col-md-6">
                    <a class="btn-cancelar-recup-pass" href="#">CANCELAR</a>
                </div>
                <div class="form-group col-md-6">
                  <div class="btn-send">
                    <input type="submit" class="form-control btn-filtro" id="enviar" name="Consultar" value="Enviar">
                  </div>
                </div>
              </div>
            </form>
            <div class="limpiar"></div>
          </section>
        </div>
      </div>
      <div class="row bloq-contact">
        <div class="col-md-12">
          <h2>CONTACTO</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 content-notif">
          <ul class="bloq-notif">
            <li>
              <ul class="bloq-notif-int">
                <li><span style="font-size:16px;" class="glyphicon icon-phone"></span> NUMEROS TELÉFONICOS</li>
                <li><span>+52 (55) 3300 0626</span></li>
                <li><span>+52 (55) 3300 0625</span></li>
                <li><span>+52 (55) 3300 0662</span></li>
              </ul>
            </li>
            <li><span style="font-size:16px;" class="glyphicon icon-envelop"></span>+52 1 (55) 5989 7254</li>
            <li><span style="font-size:16px;" class="glyphicon icon-whatsapp"></span><a href="mailto:ventas@vivook.com">ventas@vivook.com</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 content-notif">
          <ul class="bloq-notif">
            <li><span style="font-size:16px;" class="glyphicon icon-clock"></span> HORARIO DE ATENCIÓN:  Lunes a Viernes de 8am a 5pm (hora de México)</li>
            <li><span style="font-size:16px;" class="glyphicon icon-location"></span> OFICINAS CENTRALES</li>
            <li>José Luis Lagrange 103 piso 9, Col. Los Morales Polanco, 11510 CDMX, México.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 footer">
      <div class="row">
        <div class="col-md-9 col-xs-12">
          <ul class="links-footer">
            <li><a href="#">AVISO DE PRIVACIDAD</a></li>
            <li><a href="#">POLITICAS DE SEGURIDAD</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-12">
          <p>© 2019 - Software todos los derechos reservados</p>
        </div>
      </div>
  </div>
<router-outlet></router-outlet>

