<div role="tabpanel" class="tab-pane active col-md-12" id="registro">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <a href="reg_condom.php">
        <div class="btn-usertype">
          <img src="assets/img/icon-condomino.png" alt="" />
          <span>¿Eres Condómino?</span>
        </div><!-- .btn-usertype -->
      </a>
    </div><!-- .col-xs-12 -->
    <div class="col-md-6 col-sm-6 col-xs-12">
      <a href="reg_admin.php">
        <div class="btn-usertype">
          <img src="assets/img/icon-administrador.png" alt="" />
          <span>¿Eres administrador?</span>
        </div><!-- .btn-usertype -->
      </a>
    </div><!-- .col-xs-12 -->
  </div><!-- .row -->
</div><!-- .col-md-12 -->
