<div class="row tab-content">
  <section>
    <form (ngSubmit)="onSubmit()" class="form-row" #f="ngForm">
      <div class="form-row form-register">
        <div class="bloq-form col-md-12">
          <h3><strong>1</strong> Información Basica</h3>
        </div>
        <div class="form-group col-md-6">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" ngModel name="name" required #name="ngModel">
          <span class="help-block" *ngIf="!name.valid && name.touched">Por favor ingresa tu(s) nombre(s)</span>
        </div>
        <div class="form-group col-md-6">
          <label for="lastname">Apellido</label>
          <input type="text" class="form-control" id="lastname" ngModel name="lastname" required #lastname="ngModel">
          <span class="help-block" *ngIf="!lastname.valid && lastname.touched">Por favor ingresa tu(s) apellido(s)</span>
        </div>
        <div class="form-group col-md-6">
          <label for="pais">País</label>
          <select class="form-control" [ngModel]="defaultPais" name="pais" required #pais="ngModel">
            <option *ngFor="let pais of paises" [value]="pais">{{ pais }}</option>
          </select>
          <span class="help-block" *ngIf="!pais.valid && pais.touched">Por favor selecciona tu país</span>
        </div>
        <div class="form-group col-md-6">
          <label for="exampleFormControlInput4">Teléfono</label>
          <input type="text" class="form-control" id="exampleFormControlInput4" placeholder="" required="required">
        </div>
        <div class="bloq-form col-md-12">
          <h3><strong>2</strong> Credenciales</h3>
        </div>
        <div class="form-group col-md-6">
          <label for="exampleFormControlInput5">Email</label>
          <input type="email" class="form-control" id="exampleFormControlInput5" placeholder="" required="required">
        </div>
        <div class="form-group col-md-6">
          <label for="exampleFormControlInput6">Password</label>
          <input type="password" class="form-control" id="exampleFormControlInput6" placeholder="" required="required">
        </div>
        <div class="bloq-form col-md-12">
          <h3><strong>3</strong> Datos del Condominio</h3>
        </div>
        <div class="form-group col-md-6">
          <label for="exampleFormControlInput7">Nombre del Condominio</label>
          <input type="text" class="form-control" id="exampleFormControlInput7" placeholder="" required="required">
        </div>
        <div class="form-group col-md-6">
          <label for="exampleFormControlInput8">Total de Viviendas</label>
          <input type="text" class="form-control" id="exampleFormControlInput8" placeholder="" required="required">
        </div>
        <div class="form-group col-md-6">
          <div class="re-captcha">
            <img src="assets/img/newCaptchaAnchor.gif" alt="" width="250" />
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="btn-send">
            <input type="submit" class="form-control btn-filtro" id="enviar" name="Consultar" value="Enviar">
          </div>
        </div>
      </div>
    </form>
    <div class="limpiar"></div>
  </section>
</div>