<div class="row tab-content">
  <section>
    <form (ngSubmit)="onSubmit()" class="form-row" #f="ngForm">
      <div class="form-row form-register">
        <div class="bloq-form col-md-12">
          <h3><strong>1</strong> Información Basica</h3>
        </div>
        <div class="form-group col-md-6">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" ngModel name="name" required #name="ngModel">
          <span class="help-block" *ngIf="!name.valid && name.touched">Por favor ingresa tu(s) nombre(s)</span>
        </div>
        <div class="form-group col-md-6">
          <label for="lastname">Apellido</label>
          <input type="text" class="form-control" id="lastname" ngModel name="lastname" required #lastname="ngModel">
          <span class="help-block" *ngIf="!lastname.valid && lastname.touched">Por favor ingresa tu(s) apellido(s)</span>
        </div>
        <div class="form-group col-md-6">
          <label for="pais">País</label>
          <select class="form-control" [ngModel]="defaultPais" name="pais" required #pais="ngModel">
            <option *ngFor="let pais of paises" [value]="pais">{{ pais }}</option>
          </select>
          <span class="help-block" *ngIf="!pais.valid && pais.touched">Por favor selecciona tu país</span>
        </div>
        <div class="form-group col-md-6">
          <label for="telephone">Teléfono</label>
          <input type="tel" class="form-control" id="telephone" ngModel name="telephone" required #telephone="ngModel">
          <span class="help-block" *ngIf="!telephone.valid && telephone.touched">Por favor ingresa tu número telefónico</span>
        </div>
        <div class="bloq-form col-md-12">
          <h3><strong>2</strong> Credenciales</h3>
        </div>
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" ngModel name="email" required email #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched">Por favor ingresa un correo válido</span>
        </div>
        <div class="form-group col-md-6">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" ngModel name="password" required password #password="ngModel">
          <span class="help-block" *ngIf="!password.valid && password.touched">Por favor ingresa tu contraseña</span>
        </div>
        <div class="bloq-form col-md-12">
          <h3><strong>3</strong> Datos del Condominio</h3>
        </div>
        <div class="form-group col-md-6">
          <label for="condoName">Nombre del Condominio</label>
          <input type="text" class="form-control" id="condoName" ngModel name="condoName" required #condoName="ngModel">
          <span class="help-block" *ngIf="!condoName.valid && condoName.touched">Por favor ingresa el nombre de tu condominio</span>
        </div>
        <div class="form-group col-md-6">
          <label for="viviendas">Total de Viviendas</label>
          <input type="number" class="form-control" id="viviendas" ngModel name="viviendas" required min="1" #viviendas="ngModel">
          <span class="help-block" *ngIf="!viviendas.valid && viviendas.touched">Por favor ingresa el total de viviendas</span>
        </div>
        <div class="form-group col-md-6">
          <div class="re-captcha">
            <img src="assets/img/newCaptchaAnchor.gif" alt="" width="250" />
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="btn-send">
            <button type="submit" class="form-control btn btn-filtro" [disabled]="!f.valid">Enviar</button>
          </div>
        </div>
      </div>
    </form>
    <div class="limpiar"></div>
  </section>
</div>