$primary-color: #fff
$title-sec: #666666

@font-face 
	font-family: 'Roboto'
	src: url('../assets/fonts/roboto/Roboto-Regular.ttf')
	font-weight: normal
	font-style: normal

body 
	font-family: 'Roboto' !important
	font-size: 1.2em
	line-height: 24px
	color: #212529
	background-color: #fff

h1, h2, h3, h4, h5, h6 
	color: #333
	font-family: 'Roboto'
	text-transform: uppercase

a:hover
	text-decoration: none

ul li 
	font-size: 1rem

h1
	background-color:#333
	color:$primary-color
	padding:20px 

h2
	font-size: 30px
	margin-bottom: 20px

h3
	font-size: 16px

=btn-generator($btn-color)
	padding:12px
	color:$title-sec

.logo-app
	display: block
	margin: auto
h2
	+btn-generator($title-sec)
	font:
		size:26px
	
.text-recup-pass
	text-align: center
	padding: 20px 40px 10px 40px
	font-size: 20px
.text-recup-pass strong
	font-size: 24px

.btn-cancelar-recup-pass
	text-align: center
	line-height: 4em
	display: block  

.form-control
	background-color: transparent
	margin-bottom: 0
	border: 1px #4D4D4D solid
	-webkit-border-radius: 5px
	-moz-border-radius: 5px
	border-radius: 5px
	height: 43px
	font-size: .7em

.form_date
	margin-bottom: 10px

.input-group-addon
	background-color: #e6e6e6
	border: none

.caja
	overflow: hidden
	position: relative

select
	background: transparent
	border: none
	font-size: 14px
	height: 34px
	padding: 5px
	width: 250px

select:focus
	outline: none

.caja::after
	content:"\025be"
	display: table-cell
	padding-top:7px
	text-align: center
	width:30px
	height:34px
	background-color:#e6e6e6
	position: absolute
	top:0
	right:0px
	pointer-events: none
	color: #00719E

.btn-filtro
	background-color: #00719E !important
	color: #fff
	height: 48px

.limpiar
	clear: both

.help-block
	color: #ff2d1d !important
	font-size: 0.7em
	display: block
	width: 100%

/* END Filtro ------------------------------------*/

/*----------------Responsive--------------------*/

@media (max-width: 767px)
	.user-block 
	position:relative

	.bloq-login
	position:relative

	.footer
	position:relative

	.content-inf
		min-height:0

	.nav.navbar-nav 
	display:none

	.row
		margin:0

	.bloq-login
		display: none

	.footer
		position: relative

	.links-footer li a
		color: #007bff !important
		padding: 10px 10px !important
		margin: 20px
		font-size: .8em

	.bloq-contact
		padding: 0 !important

	.footer-row
		position: relative !important
		color: #333 !important
		font-size: .7em
		text-align: center
   
@media (min-width: 768px) and (max-width: 1280px)
	.pull-position
	float:right

/* Responsive ------------------------------------*/

@font-face 
	font-family: "IcoMoon-Free"
	src: url('../assets/fonts/icomoon/IcoMoon-Free.ttf') format('truetype')
	font-weight: normal
	font-style: normal

.icon 
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'IcoMoon-Free' !important
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1

	/* Enable Ligatures ================ */
	letter-spacing: 0
	-webkit-font-feature-settings: "liga"
	-moz-font-feature-settings: "liga=1"
	-moz-font-feature-settings: "liga"
	-ms-font-feature-settings: "liga" 1
	-o-font-feature-settings: "liga"
	font-feature-settings: "liga"

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.glyphicon
	position: relative
	top: 1px
	display: inline-block
	font-family: 'IcoMoon-Free'
	font-style: normal
	font-weight: 400
	line-height: 1
	color: #fd6603
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	padding-right: 10px

.icon-phone:before
	content: "\e942"

.icon-user:before
	content: "\e971"

.icon-lock:before
	content: "\e98f"

.icon-envelop:before
	content: "\e945"

.icon-location:before
	content: "\e947"

.icon-clock:before
	content: "\e94e"

.icon-whatsapp:before
	content: "\ea93"

.icon-home:before 
	content: "\e900"

.icon-home2:before 
	content: "\e901"

.icon-home3:before 
	content: "\e902"

.icon-office:before 
	content: "\e903"

.icon-newspaper:before 
	content: "\e904"

.icon-pencil:before 
	content: "\e905"

.icon-pencil2:before 
	content: "\e906"

.icon-quill:before 
	content: "\e907"

.icon-pen:before 
	content: "\e908"

.icon-blog:before 
	content: "\e909"

.icon-eyedropper:before 
	content: "\e90a"

.icon-droplet:before 
	content: "\e90b"

.icon-paint-format:before 
	content: "\e90c"

.icon-image:before 
	content: "\e90d"

.icon-images:before 
	content: "\e90e"

.icon-camera:before 
	content: "\e90f"

.icon-headphones:before 
	content: "\e910"

.icon-music:before 
	content: "\e911"

.icon-play:before 
	content: "\e912"
