<!--The content below is only a placeholder and can be replaced.-->
  <div class="row content-form">
    <div class="col-md-6 col-sm-6 col-xs-12 bloq-login" >
      <div class="navbar navbar-light bg-faded TagsOptionPrinc">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a class="nav-link active" href="">Registrate</a></li>
          <li><a class="nav-link" href="index.php">Iniciar<br>Sesion</a></li>
        </ul>  
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 bloq-info">
      <div class="content-inf">
        <img src="assets/img/logo.png" alt="Vivook">
      </div>
      <div class="row tab-content">
        <div class="tab-pane active" id="login">
          <section>
            <form class="form-row" name="form1" method="post" action="">
              <div class="form-row form-register">
                <div class="bloq-form col-md-12">
                  <h3><strong>1</strong> Información Basica</h3>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleFormControlInput1">Nombre</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" required="required">
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleFormControlInput2">Apellido</label>
                  <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="" required="required">
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleFormControlInput3">País</label>
                  <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="" required="required">
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleFormControlInput4">Teléfono</label>
                  <input type="text" class="form-control" id="exampleFormControlInput4" placeholder="" required="required">
                </div>
                <div class="bloq-form col-md-12">
                  <h3><strong>2</strong> Credenciales</h3>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleFormControlInput5">Email</label>
                  <input type="email" class="form-control" id="exampleFormControlInput5" placeholder="" required="required">
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleFormControlInput6">Password</label>
                  <input type="password" class="form-control" id="exampleFormControlInput6" placeholder="" required="required">
                </div>
                <div class="bloq-form col-md-12">
                  <h3><strong>3</strong> Datos del Condominio</h3>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleFormControlInput7">Nombre del Condominio</label>
                  <input type="text" class="form-control" id="exampleFormControlInput7" placeholder="" required="required">
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleFormControlInput8">Total de Viviendas</label>
                  <input type="text" class="form-control" id="exampleFormControlInput8" placeholder="" required="required">
                </div>
                <div class="form-group col-md-6">
                  <div class="re-captcha">
                    <img src="assets/img/newCaptchaAnchor.gif" alt="" width="250" />
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="btn-send">
                    <input type="submit" class="form-control btn-filtro" id="enviar" name="Consultar" value="Enviar">
                  </div>
                </div>
              </div>
            </form>
            <div class="limpiar"></div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 footer">
      <div class="row">
        <div class="col-md-9 col-xs-12">
          <ul class="links-footer">
            <li><a href="#">AVISO DE PRIVACIDAD</a></li>
            <li><a href="#">POLITICAS DE SEGURIDAD</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-12">
          <p>© 2019 - Software todos los derechos reservados</p>
        </div>
      </div>
  </div>
<router-outlet></router-outlet>

