<div class="row bloq-contact">
  <div class="col-md-12">
    <h2>CONTACTO</h2>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12 content-notif">
    <ul class="bloq-notif">
      <li>
        <ul class="bloq-notif-int">
          <li><span style="font-size:16px;" class="glyphicon icon-phone"></span> NUMEROS TELÉFONICOS</li>
          <li><span>+52 (55) 3300 0626</span></li>
          <li><span>+52 (55) 3300 0625</span></li>
          <li><span>+52 (55) 3300 0662</span></li>
        </ul>
      </li>
      <li><span style="font-size:16px;" class="glyphicon icon-envelop"></span>+52 1 (55) 5989 7254</li>
      <li><span style="font-size:16px;" class="glyphicon icon-whatsapp"></span><a href="mailto:ventas@vivook.com">ventas@vivook.com</a></li>
    </ul>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12 content-notif">
    <ul class="bloq-notif">
      <li><span style="font-size:16px;" class="glyphicon icon-clock"></span> HORARIO DE ATENCIÓN:  Lunes a Viernes de 8am a 5pm (hora de México)</li>
      <li><span style="font-size:16px;" class="glyphicon icon-location"></span> OFICINAS CENTRALES</li>
      <li>José Luis Lagrange 103 piso 9, Col. Los Morales Polanco, 11510 CDMX, México.</li>
    </ul>
  </div>
</div>
